name: Develop branch CD
on:
  push:
    branches: [ "brijesh" ]
  
  build:
    name: infra-repo-dispatch-for-cd
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Azure via Infrastructure Repo Dispatch Call
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer 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" \
            https://api.github.com/repos/harsaranjeet/PixelGit/actions/workflows/56360889/dispatches \
            -d '{"ref":"main","inputs":{"component":"mdx-service-liverfast"}}' 

            
